@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="https://cdn-icons.flaticon.com/png/512/1713/premium/1713823.png?token=exp=1639174029~hmac=d33c8f49e07d1a19001ea96e49fa6ea6" />
</div>
