@model SmartEmployee.Web.Data.Entities.LaborRelationship
<div class="form-group">
                <label asp-for="relationshipName" class="control-label"></label>
                <input asp-for="relationshipName" class="form-control" />
                <span asp-validation-for="relationshipName" class="text-danger"></span>
            </div>