@model SmartEmployee.Web.Data.Entities.PayrollType

<div class="form-group">
    <label asp-for="payrollTypeDescription" class="control-label"></label>
    <input asp-for="payrollTypeDescription" class="form-control" />
    <span asp-validation-for="payrollTypeDescription" class="text-danger"></span>
</div>