@model SmartEmployee.Web.Data.Entities.Schedule

@{
    ViewData["Title"] = "Create Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Schedule</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSchedule">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial Name="_Schedule"/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="IndexSchedule">Back to List</a>
            </div>
        </form>
    </div>
</div>

