@model SmartEmployee.Web.Data.Entities.LaborRelationship

@{
    ViewData["Title"] = "Delete Relationship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="h3 text-gray-800">Laboral Relationship</h1>
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <h6>Are you sure you want to delete this?</h6>
                <div class="row no-gutters align-items-center">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        <hr />
                        <div>
                            <h6>
            @Html.DisplayNameFor(model => model.relationshipName)
        </h6>
       <p class = "text-gray-800">
            @Html.DisplayFor(model => model.relationshipName)
        </p>
                            <form asp-action="DeleteRelationship">
                                <input type="hidden" asp-for="relationshipId" />
                                <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
                                <a class="btn btn-sm btn-secondary" asp-action="IndexRelationship">Back to List</a>
                            </form>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>