@model IEnumerable<SmartEmployee.Web.Data.Entities.PayrollType>

@{
    ViewData["Title"] = "Payroll Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Payroll Type</h1>

<p>
    <a class="btn btn-primary" asp-action="CreatePayrollType">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.payrollTypeDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.payrollTypeDescription)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="EditPayrollType" asp-route-id="@item.payrollTypeId">Edit</a> |
                <a class="btn btn-danger" asp-action="DeletePayrollType" asp-route-id="@item.payrollTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
