@model SmartEmployee.Web.Data.Entities.Afp

<div class="form-group">
    <label asp-for="afpName" class="control-label"></label>
    <input asp-for="afpName" class="form-control"/>
    <span asp-validation-for="afpName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="afpNit" class="control-label"></label>
    <input asp-for="afpNit" class="form-control" />
    <span asp-validation-for="afpNit" class="text-danger"></span>
</div>
