@model SmartEmployee.Web.Data.Entities.Arl

<div class="form-group">
    <label asp-for="arlName" id="arlNameLabel" class="control-label"></label>
    <input asp-for="arlName" id="arlNameInput" class="form-control" />
    <span asp-validation-for="arlName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="arlNit" id="arlNitLabel" class="control-label"></label>
    <input asp-for="arlNit" id="arlNitInput" class="form-control" />
    <span asp-validation-for="arlNit" class="text-danger"></span>
</div>