@model SmartEmployee.Web.Data.Entities.Ccf

@{
    ViewData["Title"] = "Create Ccf";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 text-gray-800">CCF</h1>

    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <h6>Create New CCF</h6>
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            <hr />
                            <form asp-action="CreateCcf">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                    
                                <partial name="_Ccf"/>
                                                    
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-sm btn-primary" />
                                    <a class="btn btn-sm btn-secondary" asp-action="IndexCcf">Back to List</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

