@model SmartEmployee.Web.Data.Entities.Ccf

@{
    ViewData["Title"] = "Delete Ccf";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="h3 text-gray-800">CCF</h1>
    
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <h6>Are you sure you want to delete this?</h6>
                <div class="row no-gutters align-items-center">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        <hr />
                        <div>
                            <h6 class = "">
                                @Html.DisplayNameFor(model => model.ccfName)
                            </h6>
                            <p class = "text-gray-800">
                                @Html.DisplayFor(model => model.ccfName)
                            </p>
                            <h6 class = "">
                                @Html.DisplayNameFor(model => model.ccfNit)
                            </h6>
                            <p class = "text-gray-800">
                                @Html.DisplayFor(model => model.ccfNit)
                            </p>
                            <form asp-action="DeleteCcf">
                                <input type="hidden" asp-for="ccfId" />
                                <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
                                <a class="btn btn-sm btn-secondary" asp-action="IndexCcf">Back to List</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>