@model SmartEmployee.Web.Data.Entities.Afp

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Afp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditAfp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="afpId" />
            <div class="form-group">
                <label asp-for="afpName" class="control-label"></label>
                <input asp-for="afpName" class="form-control" />
                <span asp-validation-for="afpName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="afpNit" class="control-label"></label>
                <input asp-for="afpNit" class="form-control" />
                <span asp-validation-for="afpNit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="IndexAfp">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
